<div class="p-6 rounded-lg shadow-md bg-gradient-to-tr from-[#3FBFED] via-[#35A5E5] to-[#319AE0]">
  <div class="p-4">
    <h2 class="text-xl font-bold text-gray-900">
        <%= @post.title %>
    </h2>
    <p class="text-base text-gray-800 my-4">
      <%= @post.text %>
    </p>
    <p class="text-sm text-gray-600">
      <%= time_ago_in_words(@post.created_at) + " ago" %>
    </p>
  </div>
  <%= form_with url: "/users/#{@post.author_id}/posts/#{@post.id}/likes" do |form| %>  
  <%= form.submit 'Like' %>
  <% end %>
  <div class="px-4 py-3 bg-gray-100 rounded-lg my-4">
    <p class="text-sm text-gray-600">
      <span class="text-gray-800">Author:</span> <%= @post.author.name %>
    </p>
    <p class="text-sm text-gray-600">
      <span class="text-gray-800">Likes:</span> <%= @post.likes_counter %>
    </p>
    <p class="text-sm text-gray-600">
      <span class="text-gray-800">Comments:</span> <%= @post.comments_counter %>
    </p>
  </div>
  <% if @comments.empty? %>
  <p>There are no comments for this post.</p>
<% else %>
  <div class="rounded-lg shadow-md bg-white p-4 my-4">
  <% @comments.reverse.each do |comment| %>
    <div class="">
      <p class="text-gray-700 font-medium"><%= comment.text %></p>
      <p class="text-gray-500 font-medium">by <%= comment.author.name %></p>
      <hr class="my-4">
    </div>
  <% end %>
    </div>
    <%= link_to "Create Comment", new_user_post_comment_path(@user, @post), class: "bg-gradient-to-tr from-[#3FBFED] via-[#35A5E5] to-[#319AE0] text-white py-2 px-4 rounded-lg hover:bg-blue-800 cursor-pointer" %>
<% end %> 
</div>
